body{
    background-image: url(/New-IMAGE.png);
    background-repeat: no-repeat;
    background-size: 101% ;
}
button{
    margin-bottom: 5vh;
    margin-left: 125vh;
    width: 40vh;
    height: 10vh;
    transform: skewX(-10deg) ;
    border-radius: 1vh;
    background-color: rgb(121, 123, 143);
}

.historia{
    margin-top: 20vh;
}


